In [1]:
import quandl
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
from config import api_key
import statsmodels.api as sm
from statsmodels.formula.api import ols
import scipy
%matplotlib inline

In [2]:
quandl.ApiConfig.api_key = api_key
#Variance Risk Premium: https://sites.google.com/site/haozhouspersonalhomepage
#EOM Nominal S&P, Nominal Dividends / Nominal Risk Free Rate: http://www.hec.unil.ch/agoyal/
#Consumer Sentiment: http://www.sca.isr.umich.edu/

In [3]:
ticker = 'SPY'
transform = 'normalize'
start_date = '1989-01-01'
end_date = '2018-12-31'
period = 'monthly'

In [4]:
#Access data from Quandl
ticker_data = quandl.get('EOD/' + ticker, start_date=start_date, end_date=end_date, collapse=period)
risk_free_rate = quandl.get('FRED/DTB3', start_date=start_date, end_date=end_date, collapse=period)
fed_funds_rate = quandl.get('FRED/FEDFUNDS', start_date=start_date, end_date=end_date, collapse=period)

#Confirm results are same size:
if ticker_data.shape[0] == risk_free_rate.shape[0] == fed_funds_rate.shape[0]:
    
    print(f"All dataframes are {ticker_data.shape[0]} rows")

else:
    print('Dataframes are not the same size:',  
          f'ticker_data is {ticker_data.shape[0]}, ',
          f'risk_free_rate is {risk_free_rate.shape[0]}, ',
          f'fed_funds_rate is {fed_funds_rate.shape[0]}.');

Dataframes are not the same size: ticker_data is 312,  risk_free_rate is 360,  fed_funds_rate is 360.

In [5]:
#Make Function to Create Return Column for Risk Free Rate & Fed Funds Rate
def make_return_column(data):
    
    list_return = []

    for i in range(len(data)):
        x = (data.iloc[i]['Value']/12)/100
        list_return.append(x)
        
    temp_df = pd.DataFrame(list_return)
    
    data = pd.concat([data.reset_index(), temp_df.reset_index(drop=True)], axis=1)
    data = data.rename(columns={0: 'return'})
    
    return data

risk_free_df = make_return_column(risk_free_rate)

In [6]:
fed_funds_df = pd.DataFrame(fed_funds_rate.reset_index())

In [7]:
fed_funds_df18 = fed_funds_df[fed_funds_df['Date'] >= '2018-01-01']
fed_funds_df = fed_funds_df[fed_funds_df['Date'] < '2018-01-01']

In [8]:
fed_funds_df18 = fed_funds_df18['Value']
fed_funds_df = fed_funds_df['Value']

In [10]:
"""
BUILD DATASET

Monthly >>>
Index: S&P 500 Index Data
D12: Dividends are 12-month moving sums of dividends paid on the S&P 500 index (Goyal, Welch) 
     -- Confirmed with Y Charts
Rfree: Nominal Risk Free Rate
"""
goyal = pd.read_excel('PredictorData2017.xlsx')
df = pd.DataFrame(goyal)

#New DF with cleaned up Columns
df_cols = ['yyyymm', 'Index', 'D12', 'Rfree']
df = df[df_cols]

#Convert yyyymm to Datetime then to Period
yyyymm = pd.to_datetime(df['yyyymm'], format='%Y%m').dt.strftime('%Y-%m')
df['yyyymm'] = pd.to_datetime(yyyymm, format='%Y-%m')

#Drop rows prior to 1990-01
df = df[df['yyyymm'] >= '1990-01'];

In [12]:
"""
VRP: Variance Risk Premium = IV - RV
IV: Implied Variance = VIX-Squared/12
RV: Realized Variance = Sum of Squared 5-minute log returns of the S&P 500 Index
"""
vrp = pd.read_fwf('VRPtable.txt')
df_vrp = pd.DataFrame(vrp)

#Drop 2018 Rows & create new VRP 2018 DF
df_vrp2018 = df_vrp[df_vrp['Year'] >= 2018]
df_vrp = df_vrp[df_vrp['Year'] < 2018]


#Drop Unnecessary Columns
df_vrp2018 = df_vrp2018[['VRP']]
df_vrp = df_vrp[['VRP']];

In [13]:
#Concat Index DF with VRP DF
df = pd.concat([df.reset_index(drop=True), df_vrp.reset_index(drop=True)], axis=1)

In [14]:
#Rename yyyymm Column to EOM
df = df.rename(columns={'yyyymm': 'EOM'})

In [15]:
#New DF from Index / Div / Rfree Data -> Need to Add 1989 Data.
df_1989 = pd.DataFrame(goyal)
df_1989_cols = ['yyyymm', 'Index', 'D12', 'Rfree']

df_1989 = df_1989[df_1989_cols]
yyyymm_1989 = pd.to_datetime(df_1989['yyyymm'], format='%Y%m').dt.strftime('%Y-%m')
df_1989['yyyymm']  = pd.to_datetime(yyyymm_1989, format='%Y-%m')

df_1989 = df_1989[(df_1989['yyyymm'] >= '1989-01') & (df_1989['yyyymm'] < '1990-01')]

df_1989 = df_1989.rename(columns={'yyyymm': 'EOM'})

df = pd.concat([df_1989, df], axis=0, ignore_index=True, sort=False)

In [16]:
#Concat Fed Funds Rate
df = pd.concat([df.reset_index(drop=True), fed_funds_df.reset_index(drop=True)], axis=1)
df = df.rename(columns={'Value': 'fed_funds'})

In [18]:
sentiment_file = 'tbmics.csv'
sentiment = pd.read_csv(sentiment_file)

sentiment18 = sentiment[(sentiment['YYYY'] >= 2018) & (sentiment['YYYY'] < 2019)]
sentiment = sentiment[(sentiment['YYYY'] >= 1989) & (sentiment['YYYY'] < 2018)]

In [19]:
sentiment18 = sentiment18['ICS_ALL']
sentiment = sentiment['ICS_ALL']

In [20]:
df = pd.concat([df.reset_index(drop=True), sentiment.reset_index(drop=True)], axis=1)

In [24]:
"""
2018 Data
"""

#2018 S&P 500 Dividends
dividends18 = 'Dividend_History.csv'
div_data18 = pd.read_csv(dividends18)
div18 = pd.DataFrame(div_data18)

div18 = div18[['Value']]
div18 = div18.rename(columns={'Value': 'D12'})

#2018 S&P Index Data from Yahoo
f2018 = '^GSPC.csv'
data = pd.read_csv(f2018)
sp18 = pd.DataFrame(data)
sp18 = sp18[['Date', 'Close']]

sp18 = pd.concat([sp18.reset_index(drop=True), df_vrp2018.reset_index(drop=True)], axis=1);

In [25]:
#Concat 2018 DF with Risk Free Rate Data
rfdf18 = risk_free_df['return'].tail(12)
sp18 = pd.concat([sp18.reset_index(drop=True), rfdf18.reset_index(drop=True)], axis=1)
sp18 = sp18.rename(columns={'return': 'Rfree'})

In [26]:
#Concat 2018 federal funds rate return
sp18 = pd.concat([sp18.reset_index(drop=True), fed_funds_df18.reset_index(drop=True)], axis=1)
sp18 = sp18.rename(columns={'Value': 'fed_funds'})

In [37]:
#Cocnat 2018 Dividends and clean up columns
sp18 = pd.concat([sp18.reset_index(drop=True), div18.reset_index(drop=True)], axis=1)
sp18 = sp18.rename(columns={'Close': 'Index', 'Date': 'EOM'})
sp18['EOM'] = pd.to_datetime(sp18['EOM'], '%Y-%m')

In [38]:
sp18

,EOM,Index,D12,Rfree,fed_funds,VRP,ICS_ALL,D12
0,2018-01-01,2823.810059,54.94,0.001200,1.41,10.0329,95.7,54.94
1,2018-02-01,2713.830078,54.85,0.001358,1.42,-5.9018,99.7,54.85
2,2018-03-01,2640.870117,54.68,0.001417,1.51,8.6653,101.4,54.68
3,2018-04-01,2648.050049,54.38,0.001533,1.69,-1.9751,98.8,54.38
4,2018-05-01,2705.270020,53.74,0.001575,1.70,9.4048,98.0,53.74
5,2018-06-01,2718.370117,53.08,0.001575,1.82,13.2745,98.2,53.08
6,2018-07-01,2816.290039,52.70,0.001658,1.91,8.1409,97.9,52.70
7,2018-08-01,2901.520020,52.31,0.001725,1.91,8.5030,96.2,52.31
8,2018-09-01,2913.979980,51.89,0.001792,1.95,7.9528,100.1,51.89
9,2018-10-01,2711.739990,51.44,0.001908,2.19,-2.2509,98.6,51.44
10,2018-11-01,2760.169922,51.19,0.001933,2.20,2.7329,97.5,51.19
11,2018-12-01,2506.850098,51.07,0.002000,2.27,-4.0034,98.3,51.07
12,NaT,NaN,50.93,NaN,NaN,NaN,NaN,50.93
13,NaT,NaN,50.69,NaN,NaN,NaN,NaN,50.69
14,NaT,NaN,50.55,NaN,NaN,NaN,NaN,50.55
15,NaT,NaN,50.46,NaN,NaN,NaN,NaN,50.46
16,NaT,NaN,50.17,NaN,NaN,NaN,NaN,50.17
17,NaT,NaN,49.91,NaN,NaN,NaN,NaN,49.91
18,NaT,NaN,49.61,NaN,NaN,NaN,NaN,49.61
19,NaT,NaN,49.55,NaN,NaN,NaN,NaN,49.55
20,NaT,NaN,49.37,NaN,NaN,NaN,NaN,49.37
21,NaT,NaN,49.00,NaN,NaN,NaN,NaN,49.00
22,NaT,NaN,48.76,NaN,NaN,NaN,NaN,48.76
23,NaT,NaN,48.51,NaN,NaN,NaN,NaN,48.51
24,NaT,NaN,48.36,NaN,NaN,NaN,NaN,48.36
25,NaT,NaN,48.16,NaN,NaN,NaN,NaN,48.16
26,NaT,NaN,48.08,NaN,NaN,NaN,NaN,48.08
27,NaT,NaN,48.12,NaN,NaN,NaN,NaN,48.12
28,NaT,NaN,47.90,NaN,NaN,NaN,NaN,47.90
29,NaT,NaN,47.59,NaN,NaN,NaN,NaN,47.59
...,...,...,...,...,...,...,...,...
321,NaT,NaN,22.34,NaN,NaN,NaN,NaN,22.34
322,NaT,NaN,22.42,NaN,NaN,NaN,NaN,22.42
323,NaT,NaN,22.45,NaN,NaN,NaN,NaN,22.45
324,NaT,NaN,22.49,NaN,NaN,NaN,NaN,22.49
325,NaT,NaN,22.53,NaN,NaN,NaN,NaN,22.53
326,NaT,NaN,22.54,NaN,NaN,NaN,NaN,22.54
327,NaT,NaN,22.49,NaN,NaN,NaN,NaN,22.49
328,NaT,NaN,22.56,NaN,NaN,NaN,NaN,22.56
329,NaT,NaN,22.67,NaN,NaN,NaN,NaN,22.67
330,NaT,NaN,22.74,NaN,NaN,NaN,NaN,22.74
331,NaT,NaN,22.76,NaN,NaN,NaN,NaN,22.76
332,NaT,NaN,22.75,NaN,NaN,NaN,NaN,22.75
333,NaT,NaN,22.70,NaN,NaN,NaN,NaN,22.70
334,NaT,NaN,22.75,NaN,NaN,NaN,NaN,22.75
335,NaT,NaN,22.79,NaN,NaN,NaN,NaN,22.79
336,NaT,NaN,22.80,NaN,NaN,NaN,NaN,22.80
337,NaT,NaN,22.82,NaN,NaN,NaN,NaN,22.82
338,NaT,NaN,22.84,NaN,NaN,NaN,NaN,22.84
339,NaT,NaN,22.96,NaN,NaN,NaN,NaN,22.96
340,NaT,NaN,22.80,NaN,NaN,NaN,NaN,22.80
341,NaT,NaN,22.69,NaN,NaN,NaN,NaN,22.69
342,NaT,NaN,22.67,NaN,NaN,NaN,NaN,22.67
343,NaT,NaN,22.75,NaN,NaN,NaN,NaN,22.75
344,NaT,NaN,22.85,NaN,NaN,NaN,NaN,22.85
345,NaT,NaN,22.82,NaN,NaN,NaN,NaN,22.82
346,NaT,NaN,22.72,NaN,NaN,NaN,NaN,22.72
347,NaT,NaN,22.55,NaN,NaN,NaN,NaN,22.55
348,NaT,NaN,22.35,NaN,NaN,NaN,NaN,22.35
349,NaT,NaN,22.30,NaN,NaN,NaN,NaN,22.30
350,NaT,NaN,22.23,NaN,NaN,NaN,NaN,22.23

In [28]:
#Concat 2018 Sentiment
sp18 = pd.concat([sp18.reset_index(drop=True), sentiment18.reset_index(drop=True)], axis=1)

In [29]:
#Reorder Columns
cols = ['EOM', 'Index', 'D12', 'Rfree', 'fed_funds', 'VRP', 'ICS_ALL']
sp18 = sp18[cols]
df = df[cols]

In [30]:
#Create Dataframe with all Data from 1989 to 2018
df_all = pd.concat([df.reset_index(drop=True), sp18.reset_index(drop=True)], axis=0)

In [31]:
def build_df(df):
    
#Number of Periods in Variance Risk Premium
    vrp_rolling_periods = 3

    #Create Column with PD Ratio
    df['pd'] = (df['Index'] / df['D12'])

    #Create Column with Fed Funds Rate Delta (12 Month)
    df['ff12_D'] = df['fed_funds'] - df['fed_funds'].shift(12)

    #Create Column with Rolling Variance Risk Premium Rolling
    df['vrp3'] = df['VRP'].rolling(vrp_rolling_periods).mean()

    #Create Column with Sentiment Delta
    df['sent12_D'] = (df['ICS_ALL'] - df['ICS_ALL'].shift(12))
    
    #Create Column with Excess Return on Index Relative to the RFR in percent
    df['ersf'] = (((df['Index'] + df['D12']/12 - df['Index'].shift(1)) / df['Index'].shift(1)) - df['Rfree']) * 100

#Create Column with Excess Return on Index Relative to the RFR in percent
    df['ersf_t1'] = (((df['Index'].shift(-1) + df['D12'].shift(-1)/12 - df['Index']) / df['Index']) - df['Rfree'].shift(-1)) * 100

#Create Column with 1-month Delta in ersf
    df['ersf_D'] = df['ersf'] - df['ersf'].shift(1)

#Create column with Sentiment X ersf Delta
    df['sent_x_ersf_D'] = df['sent12_D'] * df['ersf_D']
    
    return df

df_all = build_df(df_all)

In [32]:
# Create Filter for 2003 to 2018
filt_2003 = (df_all['EOM'] >= '2003-01-01')
df0318 = df_all[filt_2003]

#Cut off 2013
df0418 = df0318[12:]

In [34]:
google_trends_file = 'GoogleTrends_2004-2018.csv'

google_data = pd.read_csv(google_trends_file)
google = pd.DataFrame(google_data)
google = google[1:]

google = google.rename(columns={'Category: All categories': 'Google'})
google['Google'] = google['Google'].astype('float64')
google['Google_D'] = google['Google'] - google['Google'].shift(1)
google.fillna(google.mean(), inplace=True)

df0418 = pd.concat([df0418.reset_index(drop=True), google.reset_index(drop=True)], axis=1)

df0418.head()

,EOM,Index,D12,Rfree,fed_funds,VRP,ICS_ALL,pd,ff12_D,vrp3,sent12_D,ersf,ersf_t1,ersf_D,sent_x_ersf_D,Google,Google_D
0,2004-01-01,1131.13,17.598000,0.000733,1.00,14.0860,103.8,64.276054,-0.24,16.151067,21.4,1.786198,1.274621,-3.352254,-71.738239,28.0,0.273743
1,2004-02-01,1144.94,17.811000,0.000775,1.01,9.8728,94.4,64.282747,-0.25,14.917533,14.5,1.274621,-1.583041,-0.511577,-7.417861,28.0,0.000000
2,2004-03-01,1126.21,18.024000,0.000783,1.00,9.4462,95.8,62.483910,-0.25,11.135000,18.2,-1.583041,-1.622623,-2.857662,-52.009454,26.0,-2.000000
3,2004-04-01,1107.30,18.216667,0.000783,1.00,13.4427,94.2,60.784995,-0.26,10.920567,8.2,-1.622623,1.261890,-0.039582,-0.324572,25.0,-1.000000
4,2004-05-01,1120.68,18.409333,0.000850,1.00,5.2403,90.2,60.875643,-0.26,9.376400,-1.9,1.261890,1.831398,2.884513,-5.480574,23.0,-2.000000

In [35]:
export_csv = df_all.to_csv (r'/Users/maks_p/Flatiron/PROJECT/Momentum_X_Sentiment/1989_2018_Data.csv', index = None)

In [36]:
export_csv = df0418.to_csv (r'/Users/maks_p/Flatiron/PROJECT/Momentum_X_Sentiment/2004_to_2018_withGoogle.csv', index = None)